@model WebNews.Models.BinhLuan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin.cshtml";
}

<link href="~/assets/styleAdmin.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Bình Luận / Sửa</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayBinhLuan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.NgayBinhLuan, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.NgayBinhLuan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NguoiDungId, "NguoiDungId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("NguoiDungId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NguoiDungId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BaiVietId, "BaiVietId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BaiVietId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BaiVietId, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Nút Lưu -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            @Html.ActionLink("Thoát", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
}



