@model IEnumerable<WebNews.Models.BaiViet>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tin Tức</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/interface-new/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/interface-new/css/style.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-n2">
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">@DateTime.Now.ToString("dddd, MMMM d, yyyy")</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Quảng Cáo</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Liên Hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body small" href="@Url.Action("Login", "NguoiDungs")">Đăng Nhập</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-auto mr-n2">
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-twitter"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-facebook-f"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-linkedin-in"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-instagram"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-google-plus-g"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-youtube"></small></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row align-items-center bg-white py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="@Url.Action("TrangChu","HomeMain")" class="navbar-brand p-0 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-uppercase text-primary">BOYKA-<span class="text-secondary font-weight-normal">Tin Tức</span></h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <a href="https://htmlcodex.com"><img class="img-fluid" style="width: 96%; height: 140px; object-fit: cover;" src="https://accgroup.vn/wp-content/uploads/2021/10/mau-bien-quang-cao-dep-an-tuong4.jpg" alt=""></a>

            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-uppercase text-primary">boyka-<span class="text-white font-weight-normal">Tin Tức</span></h1>
            </a>
           
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="@Url.Action("TrangChu", "HomeMain")" class="nav-item nav-link">Trang Chủ</a>
                    @foreach (var danhMuc in ViewBag.DanhMucList)
                    {
                        <a href="@Url.Action("DanhMuc", "HomeMain", new { id = danhMuc.Id })" class="nav-item nav-link">@danhMuc.TenDanhMuc</a>
                    }
                    <a href="contact.html" class="nav-item nav-link active">Liên Hệ</a>
                </div>
                <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                    <input type="text" class="form-control border-0" placeholder="Tìm Kiếm">
                    <div class="input-group-append">
                        <button class="input-group-text bg-primary text-dark border-0 px-3">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">LIÊN HỆ VỚI CHÚNG TÔI CHO MỌI CÂU HỎI</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <div class="mb-4">
                            <h6 class="text-uppercase font-weight-bold">THÔNG TIN LIÊN HỆ</h6>
                            <p class="mb-4">Biểu mẫu liên hệ hiện không hoạt động. Nhận biểu mẫu liên hệ có chức năng và hoạt động với Ajax & PHP trong vài phút. Chỉ cần sao chép và dán các tệp, thêm một chút mã và bạn đã hoàn tất. <a href="https://htmlcodex.com/contact-form">Tải xuống ngay</a>.</p>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Văn phòng của chúng tôi</h6>
                                </div>
                                <p class="m-0">Tổ 15, Phường Mỹ Bằng, Yên Sơn - Tuyên Quang</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-envelope-open text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Gửi email cho chúng tôi</h6>
                                </div>
                                <p class="m-0">anhchoican@gmail.com</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-phone-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Gọi cho chúng tôi</h6>
                                </div>
                                <p class="m-0">+0338502788</p>
                            </div>
                        </div>
                        <h6 class="text-uppercase font-weight-bold mb-3">Liên hệ với chúng tôi</h6>
                        <form>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="Tên của bạn" required="required" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control p-4" placeholder="Email của bạn" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Chủ đề" required="required" />
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Tin nhắn" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                        type="submit">
                                    Gửi tin nhắn
                                </button>
                            </div>
                        </form>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">THEO DÕI CHÚNG TÔI</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12.345 Người hâm mộ</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12.345 Người theo dõi</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12.345 Kết nối</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; nền: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12.345 Người theo dõi</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; nền: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12.345 Người đăng ký</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; nền: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12.345 Người theo dõi</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->
                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Bản Tin</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Cổng thông tin website đăng ký để biết thêm thông tin</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Email của bạn">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Đăng Ký</button>
                                </div>
                            </div>
                            <small>Nhanh tay đăng ký nào</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
        <div class="row py-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Liên hệ</h5>
                <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>Tổ 15, Phường Mỹ Bằng, Yên Sơn - Tuyên Quang</p>
                <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>+0338502788</p>
                <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>anhchoican@gmail.com</p>
                <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Theo dõi chúng tôi</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square" href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Tin Phổ Biến</h5>
                @foreach (var baiViet in ViewBag.TinPhoBien)
                {
                    <div class="mb-3">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="@Url.Action("Details", "BaiViets", new { id = baiViet.Id })">
                                @baiViet.DanhMuc.TenDanhMuc
                            </a>
                            <a class="text-body" href="@Url.Action("Details", "BaiViets", new { id = baiViet.Id })">
                                <small>@baiViet.NgayDang</small>
                            </a>
                        </div>
                        <a class="small text-body text-uppercase font-weight-medium" href="@Url.Action("Details", "BaiViets", new { id = baiViet.Id })">
                            @baiViet.TieuDe
                        </a>
                    </div>
                }
            </div>


            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Thể Loại</h5>
                <div class="m-n1">
                    <a href="" class="btn btn-sm btn-secondary m-1">Chính trị</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Kinh doanh</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Doanh nghiệp</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Doanh nghiệp</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Sức khỏe</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Giáo dục</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Khoa học</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Kinh doanh</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Thực phẩm</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Giải trí</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Du lịch</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Phong cách sống</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Chính trị</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Kinh doanh</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Doanh nghiệp</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Kinh doanh</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Sức khỏe</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Giáo dục</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Khoa học</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Kinh doanh</a>
                    <a href="" class="btn btn-sm btn-secondary m-1">Thực phẩm</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Hình Ảnh</h5>
                <div class="row">
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="~/interface-new/img/news-110x110-1.jpg" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="~/interface-new/img/news-110x110-2.jpg" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="~/interface-new/img/news-110x110-3.jpg" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="~/interface-new/img/news-110x110-4.jpg" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="~/interface-new/img/news-110x110-5.jpg" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="~/interface-new/img/news-110x110-1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
        <p class="m-0 text-center">
            &copy; <a href="#">Tên Trang Web Của Tôi</a>. Người Thực Hiện

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            -Thiết Kế<a href="https://htmlcodex.com"> Đức Hoàng</a>
        </p>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/interface-new/lib/easing/easing.min.js"></script>

    <script src="~/interface-new/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Javascript -->
    <script src="~/interface-new/js/main.js"></script>
</body>

</html>
